<div id="image" class = "container" dir="rtl" >
  <br/><br/><br/><br/><br/><br/>
  <form class="example-form" form #loginModelForm="ngForm" autocomplete="off">
      <h2 class="p"><strong>הכנס סמל מוסד</strong></h2>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>סמל מוסד</mat-label>
        <input id="institution_symbol" matInput #institutionSymbol name="institutionSymbol" [(ngModel)]="loginModel.symbol"  required>
      </mat-form-field>
      <div matTooltip="יש להזין סמל מוסד" [matTooltipDisabled]="loginModelForm.valid">
        <button mat-stroked-button  [disabled]="!loginModelForm.valid" (click)="checkInstitutionSymbol(institutionSymbol.value)">כניסה
        </button>
      </div>
      <br/>
      <h2 class="p">{{msg}}</h2>
  </form>
</div>
